[user]
    name = Christoffer Fosmo Nyberg
    email = christoffer.fosmonyberg@gmail.com

[init]
    defaultBranch = main

[url "git@github.com:"]
     insteadOf = "gh:"

[url "git@github.com:"]
     insteadOf = "gho:"

[fetch]
    prune = true
[core]
    editor = emacs